
@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-4 col-md-4 col-sm-4"></div>

<div class="demo-section k-content col-lg-4 col-md-4 col-sm-4" id="ForgetPassword">
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <h2>忘记密码</h2>
        <ul class="fieldlist">
            <li>
                <label for="simple-input">账户名</label>
                <input id="input-name" name="input-name" type="text" class="k-textbox" style="width: 100%;" />
            </li>
            <li>
                <label for="simple-input">手机号</label>
                <input id="mobile" name="mobile" type="text" class="k-textbox" style="width: 100%;" />
            </li>
            <li>
                <label for="simple-input">确认手机号</label>
                <input id="mobileComfirmed" name="mobileComfirmed" type="text" class="k-textbox" style="width: 100%;" />
                <span class="k-invalid-msg" data-for="mobileComfirmed"></span><br />
            </li>
            <li>
                <button class="k-button k-primary k-space-right" id="submitForm" data-bind="click:sub">提交</button>
            </li>
        </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>

<div class="col-lg-4 col-md-4 col-sm-4"></div>
<script type="text/javascript">


    $("#ForgetPassword").kendoValidator({
        rules: {
            verifyPasswords: function (input) {
                var ret = true;
                if (input.is("[name=mobileComfirmed]")) {
                    ret = input.val() === $("#mobile").val();
                }
                return ret;
            }
        },
        messages: {
            verifyPasswords: "两次输入的手机号不一致"
        }
    });

    var viewModelForgetPassword = kendo.observable({
        sub: function (e) {
            e.preventDefault();
                $.ajax({
                    //提交数据的类型 GET GET
                    type: "POST",
                    //提交的网址
                    url: "/AdMgr/ForgetPasswordEdit",
                    //提交的数据
                    data: { name: $("#input-name").val(), mobile: $("#mobile").val() },
                    //返回数据的格式
                    datatype: "json", //"xml", "html", "script", "json", "jsonp", "text".
                    //在请求之前调用的函数
                    //beforeSend: function() { $("#msg").html("logining"); },
                    //成功返回之后调用的函数
                    success: function (data) {
                        var dt = JSON.parse(data);
                        var result = dt.result;
                        var info = dt.info;
                        if (result) {
                            alert(info);
                            location.href = "/admgr/Login";
                            return false;
                        } else {
                            alert(info);
                            return true;
                        }
                    },
                    //调用执行后调用的函数
                    //complete: function(XMLHttpRequest, textStatus) {
                    //    alert(XMLHttpRequest.responseText);
                    //    alert(textStatus);
                    //HideLoading();
                    //},
                    //调用出错执行的函数
                    error: function () {
                        //请求出错处理
                        alert("后台出错");
                        return false;
                    }
                });
            },
    });
    kendo.bind($("#ForgetPassword"), viewModelForgetPassword);

</script>
<style>
    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }
</style>

